.row-container {
    height: 45px;
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    line-height: 45px;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
}

.row-cell {
    width: 1000px;
    text-align: center;
}